# Fuel Management Project

## Overview

This project aims to analyze and optimize fuel usage within a specified system. The primary objectives include data cleaning, preprocessing, exploratory data analysis (EDA), and the development of predictive models to improve fuel management efficiency.

## Contents

1. **Data Cleaning and Preprocessing**: Steps to handle missing values, remove duplicates, and normalize data.
3. **Feature Engineering**: Creation of new features or transformation of existing ones to improve model performance.
5. **Model Evaluation**: Assessment of model performance using appropriate metrics and validation techniques.
6. **Conclusions and Insights**: Summary of findings and recommendations for improving fuel management.

# 1. Data Loading and Overview

In [8]:
#1.1: Importing the essential Libraries
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
#1.2: Loading the data
df = pd.read_csv("Final Data.csv")
df.head(10)

,Number,Registration,Details,Product,Odometer,Distance,Unit,MPG
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0001,U1,Jaguar XJL Portfolio V6 D Limousine,Diesel,67691,0,Miles,0.00
2,0012,FL65FBA,Vauxhall CORSA CDTI Car,Diesel,9329,2849,Miles,50.04
3,0013,MJ16XMY,Vauxhall Mokka 4x4 Utility Vehicle,Diesel,29064,5369,Miles,39.29
4,0016,BP16MKK,Nissan Note Car,Diesel,42233,1052,Miles,56.17
5,0017,YD16NAL,Peugeot car Car,Diesel,20475,3319,Miles,108.32
6,0018,YD16NAK,Peugeot 308 Car Car,Diesel,115020,36100,Miles,50.79
7,0019,BP16OPD,Nissan Note Car,Diesel,15559,948,Miles,36.04
8,0020,YH17VCF,Peugeot Expert Combi 9 seat MPV,Diesel,37352,14202,Miles,34.75
9,0021,MF68FNR,Renault Traffic Welfare,Diesel,112,0,Miles,0.00

In [10]:
# 1.3: Looking for data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Number        1486 non-null   object
 1   Registration  1483 non-null   object
 2   Details       1484 non-null   object
 3   Product       1484 non-null   object
 4   Odometer      1484 non-null   object
 5   Distance      1484 non-null   object
 6   Unit          1482 non-null   object
 7   MPG           1482 non-null   float64
dtypes: float64(1), object(7)
memory usage: 93.3+ KB

## Dataset Overview

The dataset contains 1,490 entries with 8 columns related to fuel management. Below is a brief description of the dataset structure:

- **Number**: Identification number for each entry (1486 non-null values, dtype: object)
- **Registration**: Vehicle registration details (1483 non-null values, dtype: object)
- **Details**: Additional details about the entry (1484 non-null values, dtype: object)
- **Product**: Type of fuel product used (1484 non-null values, dtype: object)
- **Odometer**: Odometer reading at the time of fuel entry (1484 non-null values, dtype: object)
- **Distance**: Distance covered (1484 non-null values, dtype: object)
- **Unit**: Unit of measurement for fuel (1482 non-null values, dtype: object)
- **MPG**: Miles per gallon (1482 non-null values, dtype: float64)

The dataset has some missing values across several columns, which will be addressed during the data cleaning and preprocessing phase.

In [11]:
#1.4: Statistical significance of the data
df.describe(include = 'all')

,Number,Registration,Details,Product,Odometer,Distance,Unit,MPG
count,1486,1483,1484,1484,1484,1484,1482,1482.000000
unique,1485,1452,301,5,1359,1187,4,NaN
top,1482,MW16DDL,Peugeot Partner Van Small,Diesel,0,0,Miles,NaN
freq,2,2,104,1440,114,250,1265,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.037726
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,246.914654
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-9238.620000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.167500
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.750000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.885000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,824.850000

### Summary Statistics

- **Number**
  - Count: 1486
  - Unique: 1485
  - Most frequent (top): 1482 (2 occurrences)

- **Registration**
  - Count: 1483
  - Unique: 1452
  - Most frequent (top): MW16DDL (2 occurrences)

- **Details**
  - Count: 1484
  - Unique: 301
  - Most frequent (top): Peugeot Partner Van Small (104 occurrences)

- **Product**
  - Count: 1484
  - Unique: 5
  - Most frequent (top): Diesel (1440 occurrences)

- **Odometer**
  - Count: 1484
  - Unique: 1359
  - Most frequent (top): 0 (114 occurrences)

- **Distance**
  - Count: 1484
  - Unique: 1187
  - Most frequent (top): 0 (250 occurrences)

- **Unit**
  - Count: 1482
  - Unique: 4
  - Most frequent (top): Miles (1265 occurrences)

- **MPG**
  - Count: 1482
  - Mean: 12.0377
  - Standard Deviation: 246.9147
  - Minimum: -9238.62
  - 25th Percentile: 3.1675
  - 50th Percentile (Median): 19.75
  - 75th Percentile: 29.885
  - Maximum: 824.85

### Notes

- The dataset has some missing values across several columns, which will be addressed during the data cleaning and preprocessing phase.
- The `MPG` column has some extreme values, which may need further investigation for outliers or data entry errors.

# 2. Data Cleaning

## 2.1: Handling Null Values

In [15]:
#Checking for null values
df.isna().sum()

Details     6
Product     6
Odometer    6
Distance    6
Unit        8
MPG         8
dtype: int64

In [37]:
#Percentage of NULL values
total_values = df.shape[0] * df.shape[1]  #This will return the total values that df has
null_values = df.isnull().sum().sum()     #This will return the total null values from all the df
per_null_values = (null_values*100)/total_values     #This will return the percentage of null values

print("The percentage of the null values in this data is:", per_null_values.round(2))

The percentage of the null values in this data is: 0.45

#### As this datafram has less than 1% null values so dropping these values will be used.

In [40]:
#Dropping the null values
df.dropna(axis = 0, inplace = True)
df.head()

,Details,Product,Odometer,Distance,Unit,MPG
1,Jaguar XJL Portfolio V6 D Limousine,Diesel,67691,0,Miles,0.00
2,Vauxhall CORSA CDTI Car,Diesel,9329,2849,Miles,50.04
3,Vauxhall Mokka 4x4 Utility Vehicle,Diesel,29064,5369,Miles,39.29
4,Nissan Note Car,Diesel,42233,1052,Miles,56.17
5,Peugeot car Car,Diesel,20475,3319,Miles,108.32

In [41]:
#Check for any null values 
df.isnull().sum()

Details     0
Product     0
Odometer    0
Distance    0
Unit        0
MPG         0
dtype: int64

## 2.2: Handling Duplicate Values

In [47]:
# Checking for duplicates
df.duplicated().sum()

55

In [50]:
#The actual values that are duplicate
duplicate_values = df[df.duplicated()]
duplicate_values

                           Details Product Odometer Distance   Unit  MPG
29      Volkswagen Maxi Life Caddy  Diesel        0        0  Miles  0.0
32      Volkswagen Maxi Life Caddy  Diesel        0        0  Miles  0.0
35        Volkwagon Caddy Life MPV  Diesel        0        0  Miles  0.0
38       Volkswagon Caddy life MPV  Diesel        0        0  Miles  0.0
40       Volkswagon Caddy Life MPV  Diesel        0        0  Miles  0.0
43                      Custom WAV  Diesel        0        0  Miles  0.0
346             Toyota Hilux 4 X 4  Diesel        0        0  Miles  0.0
347             Toyota Hilux 4 X 4  Diesel        0        0  Miles  0.0
451       John Deere 5090R Tractor  Diesel        0        0  Hours  0.0
453       John Deere 5090R Tractor  Diesel        0        0  Hours  0.0
457       John Deere 5090R Tractor  Diesel        0        0  Hours  0.0
486       Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
504       Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
524       Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
535       Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
554       Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
565       Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
572      Vauxhall  Corsa Small Van  Diesel        0        0  Miles  0.0
581       Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
602      Vauxhall  Corsa Small Van  Diesel        0        0  Miles  0.0
609       Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
613       Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
640       John Deere 5090R Tractor  Diesel        0        0  Hours  0.0
642       John Deere 5090R Tractor  Diesel        0        0  Hours  0.0
690           John Deere Gator ATV  Diesel        0        0  Hours  0.0
1022             Drop Side Transit  Diesel        0        0  Miles  0.0
1106      FORD Transit 3.5t Tipper  Diesel        0        0  Miles  0.0
1107      FORD Transit 3.5t Tipper  Diesel        0        0  Miles  0.0
1108      FORD Transit 3.5t Tipper  Diesel        0        0  Miles  0.0
1110                   3.5t Tipper  Diesel        0        0  Miles  0.0
1111                   3.5t Tipper  Diesel        0        0  Miles  0.0
1112                   3.5t Tipper  Diesel        0        0  Miles  0.0
1113                   3.5t Tipper  Diesel        0        0  Miles  0.0
1115               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1116               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1117               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1118               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1119               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1120               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1121               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1122               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1123               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1124               Crew Cab Tipper  Diesel        0        0  Miles  0.0
1127  Ford Transit Crew Cab Tipper  Diesel        0        0  Miles  0.0
1170           Iveco 7Tonne Tipper  Diesel        0        0  Miles  0.0
1171           Iveco 7Tonne Tipper  Diesel        0        0  Miles  0.0
1172           Iveco 7Tonne Tipper  Diesel        0        0  Miles  0.0
1392             Ford Ranger 4 x 4  Diesel        0        0  Miles  0.0
1393      Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
1394      Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
1395     Vauxhall  Corsa Small Van  Diesel        0        0  Miles  0.0
1397      Vauxhall Corsa Small Van  Diesel        0        0  Miles  0.0
1398     Vauxhall  Corsa Small Van  Diesel        0        0  Miles  0.0
1480               Peugeot 208 Car  Diesel        0        0  Miles  0.0
1482        Peugeot 308 Estate Car  Diesel        0        0  Miles  0.0

#### As this data is illustrating that most of the values from this dataframe are zero in distance and zero in MPG so removing these values might be harmfull for the model because these might be the only zero's values in the dataframe.

So first let's check the unique values across each column

In [65]:
unique_list = []
def uniques_values(raw_data):
    for columns in raw_data.columns:
        print("These are the unique values from the:", columns, " column")
        print("<--------------------------------------------------------------------------------------------->")
        print(raw_data[columns].unique())
        print("The count for all the unique values is:", raw_data[columns].value_counts())
        
uniques_values(df)

These are the unique values from the: Details  column
<--------------------------------------------------------------------------------------------->
['Jaguar XJL Portfolio V6 D Limousine' 'Vauxhall CORSA  CDTI Car'
 'Vauxhall Mokka 4x4 Utility Vehicle' 'Nissan Note Car' 'Peugeot car Car'
 'Peugeot 308 Car Car' 'Peugeot Expert Combi 9 seat MPV'
 'Renault  Traffic Welfare' 'Volkswagon Caddy Maxi Welfare'
 '  Caddy Maxi Life Wav' '  Caddy Maxi Life Van'
 'Volkswagen  Caddy Maxi Life Van' '  VW Caddy'
 'Volkswagen Caddy 7 seater' 'Volkswagen Maxi Life Caddy'
 'Volkwagon Caddy Life MPV' 'Volkswagon Caddy MPV Van Small'
 'Volkswagen Caddy ' 'Volkswagon Caddy life MPV'
 'Volkswagon Caddy WAV Van Small' 'Volkswagon Caddy Life MPV'
 '  Custom WAV' 'Ford Kuga Zetec 4x4 Utility Vehicle'
 'Peugeot Expert Welfare MPV Welfare' 'Ford Mondeo car Car'
 'Peugeot Expert Tepee MPV' 'Peugeot 208 Car' 'Peugeot 308 Estate Car'
 'Peugeot  7 Seater' 'Ford Fiesta 1.4 TDi Van Car Derived Van'
 'Vauxhall Corsa Small Van' 'Vauxhall  Corsa Small Van'
 'Volkswagen CR50 Welfare Treka Welfare Bus' '  Welfare Bus'
 'Volkswagon Crafter Welfare' 'Volkswagen Crafter Welfare'
 'Volkswagen Crafter Welfare Bus' '  Minibus'
 'Mercedes Sprinter 511 CDi Wel Welfare Bus'
 'Volkswagen CR50 Welfare Mellor Welfare Bus'
 'Volkswagen CR50 Coachbuilt Mell Coachbuilt Bus'
 'Ford Transit 17st Minibus Minibus to 17 Seats'
 'Ford Transit 14st minibus Minibus to 17 Seats'
 'Vauxhall Movano Bus Minibus to 17 Seats' 'Peugeot Boxer Welfare'
 'Fiat Ducato Welfare' 'Mercedes Sprinter Coachbuilt Coachbuilt Bus'
 'Fiat  Ducato Welfare' 'Fiat Ducato welfare' 'Fiat ducato Welfare'
 'Mercedes  Sprinter Welfare' 'Mercedes Sprinter Welfare'
 'Mercedes Sprinter Welfareq' '  Coachbuilt Bus' '  Welfare' '  '
 'Mitsubishi L200 4x4 Pickup' 'Ford Ranger 4x4 pickup 4x4 Utility Vehicle'
 'Ford Ranger 4 X 4' 'Ford Ranger 4X4 Utility Vehicle'
 'Ford Ranger 4 X 4 Utility vehicle' 'Ford  Ranger 4 x 4 '
 'Ford Ranger  4X4 Utlility Vehicle'
 'Ford Ranger 4x4 CCpickup 4x4 Utility Vehicle' '  4 x 4 Vehicle'
 'Toyota Hilux 4 X 4' 'Vauxhall Corsa Car Derived Van'
 'John Deere 6530 Premium Tractor' 'Vauxhall Corsa small van'
 'Vauxhall Astra Van Small' 'Ford Connect T220SWB van Van Small'
 'chipper timberwolf Chipper' 'John Deere 6430 Tractor'
 'Peugeot Bipper Small Van' 'PEUGEOT Bipper Small Van'
 'Peugeot Partner Van Small' 'Valtra Valmet N111E Tractor'
 'Peugeot Bipper Van Small' 'John Deere 5090R Tractor'
 'Volkswagen Caddy C20 TDI MAXI Van Small'
 'Volkswagen Caddy C20 TDI Maxi Van Small' 'Peugeot  Partner Van Small'
 'Ford Transit Courier Van Small' 'Vauxhall COMBO Van Small'
 'Volkswagen Caddy 80 CNG Van Small' 'Ford Connect T200SWB van Van Small'
 'Ford Connect T230LWB van Van Small' 'Ford  Connect Small Van'
 'Ford Connect T240LWB Van Van Small' 'Peugeot Partner Small Van'
 'peugeot Partner Van Small' 'Kubota B2530 Ride on Mower'
 'Toro LT3340 Ride on Cylinder' 'Toro LT324 Cylinder ride on'
 'Torro LT3340 Ride on Mower' 'John Deere Gator ATV'
 'Volkswagen Tranporter 4 Motion Van Medium'
 'Peugeot Expert L2H1 90 Van Van Medium' 'John Deere 5090 Tractor'
 'JD  Gator 4x4' 'Ford Transit 280SWB van Van Medium' 'Kubota Digger '
 'Timberwolf TW240TDHB Chipper' 'chipper n Chipper'
 'JCB Load All Forklift' 'JCB 2CX JCB' 'Carlton SP5014 Stump Grinder'
 '  Van Medium' 'Ford Transit 290 Custom Van Medium'
 'Ford Transit 290 Van Medium' 'Ford Transit 280 Refridgerated Van Medium'
 'Ford Transit T300 Van Van Medium' 'Ford Transit 300 Van Van Medium'
 'Ford Transit 300 CCab Van Van Medium'
 'Peugeot Expert L1H1 90 Van Van Medium'
 'Ford Torneo Custom Zetec Hybrid ' 'Ford Torneo Zetec Hybrid '
 'Ford Custom Zetec Hybrid ' 'Ford Transit Custom 290L1 Van Medium'
 'Kubota RTVx900 ATV' 'Kubota RTVX900 ATV'
 'Ford Transit Custom Van Medium' 'Kubota G2160 Ride on Mower'
 'Kubota B2560 Ride on Mower' 'Volvo 1.5ec Excavator'
 'Nissan Note Small Van' 'FORD CUSTOM Van Medium'
 'Renault Traffic Van Medium' 'Renault  Traffic Van Medium'
 'Renauly Traffic Van Medium' 'Renault Traffic Van medium' '  Van Large'
 'TS WF32/75DT Towable Chipper' 'Kubota F3090 Deckmachine'
 'Ford Transit 330SWB van Van Medium' 'Ford Transit 100SWB van Van Medium'
 'Ford Transit 100 T350 MWB Van Medium' 'Peugeot Boxer 330 Van Van Medium'
 'Kubota B3150HSTX Compact Tractor' 'Iveco Iveco Daily 35C12 Van Large'
 'Peugeot Boxer 335 Van Van Large' 'Vauxhall Movano Panel Van Van Large'
 'Ford Transit Hybrid Van Medium' 'Valtra N154 Active Tractor'
 'Ford Transit Van Medium' 'John Deere 6120M Tractor'
 'John Deere 5125 Tractor' 'Ford Transit 350L HR van Van Large'
 'Ford Transit 350EF van Van Large' 'Ford Transit 350L MR van Van Large'
 'Peugeot Partner Medium Van' 'Peugeot Boxer Van Large'
 'Ford Transit 350 HR Van Van Large'
 'Ford Transit 350 DS WASH Flatback to 3.5t'
 'Ford Transit 350M Tip T/L Tipper to 3.5t'
 'Ford Transit 350L tipper Tipper to 3.5t' 'Peugeot Boxer Tipper to 3.5t'
 'Ford Transit 350M Dside Flatback to 3.5t'
 'Peugeot Boxer 335 Tipper T/L Flatback to 3.5t'
 'Ford Transit 350M DS T/L Flatback to 3.5t'
 'Ford Transit 350M Tip T/L Flatback to 3.5t'
 'Ford Transit 350L DS T/L Flatback to 3.5t'
 'Ford Transit 350L Dside Flatback to 3.5t'
 'Ford Transit 350M Dside T/L Flatback to 3.5t'
 'Ford Transit 3.5t Crewcab Tipper' 'Vauxhall Movano Tipper up to 3.5T'
 'vauxha;; Movano Tipper to 3.5T' 'Vauxhall Movano Tipper to 3.5T'
 'Peugeot Boxer L2 355 Dropside' '  Tipper upto 3.5t'
 'Peugeot Boxer 3.5t Flackback' '  Drop Side Transit'
 '  Luton Boxer 335 L4' 'Ford Transit 350EF BoxVan Luton'
 'Renault Master 120 35 Mobile Meeting room'
 'Iveco 35S12 LWB HR Meeting Mobile Meeting room' 'Peugeot Boxer Luton'
 'Vauxhall MOVANO L3H1 CC Tip 3.5t CC Tipper' '  Tipper up to 3.5t'
 'Ford Transit 350LCCtipper 3.5t CC Tipper'
 'Ford Transit 350CC Tip TL 3.5t CC Tipper' 'Vauxhall Vavaro 3.5T Tipper'
 'Vauxhall Movarno 3.5T Tipper' 'Vauxhall Movano 3.5T Crewcab Tipper'
 'Vauxhall Movano 3.5t Crewcab Tipper' 'Vauxhall Movano 3.5T Tipper'
 'Vauxall Movano 3.5T Crewcab Tipper' 'Vauxall Movano 3.5t Crewcab Tipper'
 'Vauxhall  Monanro 3.5T Crewcab ipper'
 'Vauvhall Movano 3.5t Crewcab Tipper' 'Ford Transit 3.5t Crew Tipper'
 'Ford Transit 3.5T Crewcab Tipper' 'Ford Transit  3.5T Crewcab Tipper'
 'Ford  Transit 3.5t Crewcab Tipper' 'Peugeot Tipper Crewcab'
 'Peugeot Boxer CCab Tipper 3.5t CC Tipper' 'FORD Transit 3.5t Tipper'
 '  3.5t Tipper' '  Crew Cab Tipper' 'Ford Transit  Crew Cab Tipper'
 'Ford Transit Crew Cab Tipper' 'Iveco Daily Van Large'
 'Iveco 65C18CC Tip T/L Tipper 3.5t - 7.5t'
 'Volkswagen Crafter CR50 Tip T/L Tipper 3.5t - 7.5t'
 'Volkswagen Crafter CR50 CC Tip Tipper 3.5t - 7.5t'
 'Ford Ford Transit T470 Tipper 3.5t - 7.5t' '  Up to 7.5t Tipper'
 '  Tipper up to 7.5t' 'Iveco Daily 50C15 Hyd Plat Hyd Access Platform'
 'Iveco Daily 65C18A Mobile Library'
 'Iveco Ford Cargo75E/G Library Mobile Library'
 'Leyland DAF Ley Daf FA45 Library Mobile Library'
 'Mercedes Atego Mobile Library Mobile Library'
 'Renault Midlum 180.0 Midlum 180.08 Mobile Library'
 'Renault Master 150.35c Mobile Library' '  Library Bus' '  Library Hub'
 'Iveco 7.2t Daily Library Bus'
 'Iveco Daily 70-150 Forestry Tipper up to 7T'
 'Iveco Daily 70-150 Forestry Tipper upto 7t' '  7.5t Cage '
 'Iveco ML75E16K 7.5t Tip TL Tipper 7.5t'
 'Iveco ML75E16K 7.5t Tip TL Tipper 7.5t '
 'Ford Cargo 75E Tipper Tipper 7.5t'
 'Mitsubishi Cantor 7.5t Tipper Tipper 7.5t' 'Iveco 7Tonne Tipper'
 'Fuso Canter 7C15 HEV Tipper 7.5t'
 'Renault Midlum 7.5 Tip Grit Tipper 7.5t'
 'Iveco Daily Flatback over 3.5T' 'Iveco Daily Flatback over 7.5T'
 '  7.5t Tipper' 'Renault Midlum 220 dxi Flatback over 7.5t'
 'Mercedes Arocs 2635K Tipper over 7.5t' '  26t Tipper/Gritter/Snowplough'
 'Renault Premium Tipper over 7.5t'
 'Ford Transit 430 LWB WASH Van 3.5t - 7.5t'
 'Renault Midlum 240.18 Tipper 18t Demount'
 'Daf LF250 18t Tipp/Gritt Tipper 18t Demount'
 'Leyland DAF LF 55 Bulk Gritter' 'Mercedes Econic 4 Axle Bin'
 '  3 Axle RCV' 'Mercedes  Econic 3 Axle Bin' 'Mercedes Econic 3 Axle Bin'
 '  3 axle RCV' '  RCV' 'Dennis Eagle Elite 3 Axle Bin'
 'Mercedes Econic 2 Axle Bin' 'Daf LF220 2 Axle Bin'
 'Mereecdes Econic 3 Axle Bin' 'Dennis Elite 3 Axle Bin'
 'Dennis Dennis Mun RCV 3 Axle Bin' '  18t Narrow Track' '  3 Axle Bin'
 '  3' '  Refuse Vehicle' 'Mercedes Econic Low Entry 3 Axle Bin'
 '  Toploader' 'Renault Kerax Hookloader' 'Mercedes Arocs Hookloader'
 'Daf CF370 Hookloader' 'Daf CF FAD Hookloader' '  Hookloader'
 '  Tipper 18t Demount' 'DAF  Tipper Gritter Snowplough'
 '  18t insulated tipper/gritter' '  18t ins tipper/gritter/plough'
 '  18t Tipper/Gritter/Snowplough'
 'Mercedes Arocs 1824K Tipper 18t Demount' 'Ford Ranger 4x4 Pickup'
 'Ford Ranger 4 x 4' 'Ford  Ranger 4 X 4' 'vauxhall corsa Small Van'
 'Landrover 110 LWB Hardtop TD5 4x4 Utility Vehicle'
 'Iveco Panel Van Van Medium' 'Dennis Eagle Elite 2 Axle Bin'
 'Dennis Eagle  Elite 2 Axle Bin' 'Dennis Elite 2 Axle Bin'
 'Dennis Elite 2 3 Axle Bin' 'LDV 400 Convoy Mbus T/L Welfare Bus'
 'Iveco 40C12 Minibus to 17 Seats' '  Van Small'
 'Mercedes Sprinter van Van Large' 'Ford Tranist Minibus to 17st'
 'Iveco 35S12 Van Large' 'Mercedes Econic  3 Axle Bin'
 'Iveco Eurocargo 3 Axle Bin' '  Large Sweeper' '  Large Sweeper '
 '  Large Sweeper   ' '  Small Sweeper' 'Johnson CX200 Small Sweeper'
 'Iveco Ford CargoML150E Dside Flatback over 7.5t' 'Daf CF Gully Tank'
 'Volvo L45H Loading Shovel Loading Shovel' 'Volvo EW160 Waste Compactor'
 'Volvo L110 Loading Shovel' 'Linde H30 Forklift Truck'
 'Volvo FM12 Hookloader' 'MPM 10 Genset']
The count for all the unique values is: Details
Peugeot Partner Van Small                     104
Ford Transit Custom 290L1 Van Medium           81
Volkswagen CR50 Welfare Mellor Welfare Bus     76
  Van Medium                                   65
Peugeot Expert L2H1 90 Van Van Medium          51
                                             ...
Kubota F3090 Deckmachine                        1
Ford Transit 100 T350 MWB Van Medium            1
Peugeot Boxer 330 Van Van Medium                1
Kubota B3150HSTX Compact Tractor                1
MPM 10 Genset                                   1
Name: count, Length: 299, dtype: int64
These are the unique values from the: Product  column
<--------------------------------------------------------------------------------------------->
['Diesel' 'Gasoil' 'CNG']
The count for all the unique values is: Product
Diesel    1440
Gasoil      28
CNG         14
Name: count, dtype: int64
These are the unique values from the: Odometer  column
<--------------------------------------------------------------------------------------------->
['67691' '9329' '29064' ... '98830' '67305' '281395']
The count for all the unique values is: Odometer
0         114
64686       2
22746       2
71310       2
3336        2
         ...
45633       1
48883       1
49386       1
76325       1
281395      1
Name: count, Length: 1357, dtype: int64
These are the unique values from the: Distance  column
<--------------------------------------------------------------------------------------------->
['0' '2849' '5369' ... '3758' '1948' '919']
The count for all the unique values is: Distance
0       250
1448      3
1887      3
1651      3
1961      2
       ...
2590      1
2649      1
1249      1
1347      1
919       1
Name: count, Length: 1185, dtype: int64
These are the unique values from the: Unit  column
<--------------------------------------------------------------------------------------------->
['Miles' 'Kilometres' 'Hours' 'No Limit']
The count for all the unique values is: Unit
Miles         1265
Kilometres     165
Hours           50
No Limit         2
Name: count, dtype: int64
These are the unique values from the: MPG  column
<--------------------------------------------------------------------------------------------->
[ 0.   50.04 39.29 ... 31.46 29.03 13.69]
The count for all the unique values is: MPG
 0.00      278
 20.54       4
 18.50       4
 32.89       3
 2.68        3
          ...
-153.70      1
 33.78       1
 35.19       1
 31.39       1
 13.69       1
Name: count, Length: 1043, dtype: int64

#### So as there are more than 250 values with 0 field so it is good to move with removing the duplicates but left the last one and remove the remaining.

In [66]:
df.drop_duplicates(keep= 'last', inplace=True)

## 2.3: Extracting the Car Brand Name

In [91]:
#Getting the car brand name by uisng split and lambda methods
try:
    df['Car_name'] = df['Details'].apply(lambda x: x.split("")[0])
except:
    print("Error")

Error

In [92]:
df['Car_name'].unique()

array(['Jaguar', 'Vauxhall', 'Nissan', 'Peugeot', 'Renault', 'Volkswagon',
       '', 'Volkswagen', 'Volkwagon', 'Ford', 'Mercedes', 'Fiat',
       'Mitsubishi', 'Toyota', 'John', 'chipper', 'PEUGEOT', 'Valtra',
       'peugeot', 'Kubota', 'Toro', 'Torro', 'JD', 'Timberwolf', 'JCB',
       'Carlton', 'Volvo', 'FORD', 'Renauly', 'TS', 'Iveco', 'vauxha;;',
       'Vauxall', 'Vauvhall', 'Leyland', 'Fuso', 'Daf', 'Dennis',
       'Mereecdes', 'DAF', 'vauxhall', 'Landrover', 'LDV', 'Johnson',
       'Linde', 'MPM'], dtype=object)

In [93]:
df[df['Car_name'] == '']

                    Details Product Odometer Distance   Unit    MPG Car_name
11      Caddy Maxi Life Wav  Diesel     8103     8066  Miles  42.22
12      Caddy Maxi Life Van  Diesel     6187     6160  Miles  36.93
14                 VW Caddy  Diesel     1060     1032  Miles  26.60
15                 VW Caddy  Diesel      360      307  Miles  15.77
16                 VW Caddy  Diesel      967      884  Miles  24.48
...                     ...     ...      ...      ...    ...    ...      ...
1442          Small Sweeper  Diesel    28548     4033  Miles   4.33
1443          Small Sweeper  Diesel    22090     5901  Miles   4.41
1444          Small Sweeper  Diesel    33210     6513  Miles   3.83
1445          Small Sweeper  Diesel    37376    10179  Miles   5.77
1446          Small Sweeper  Diesel    27310     7305  Miles   4.14

[239 rows x 7 columns]

# 3. Feature Engineering

In [7]:
#1.5: Removing the unwanted columns but first let's look again the data we have
df.head()

                               Details Product Odometer Distance   Unit    MPG
0                                  NaN     NaN      NaN      NaN    NaN    NaN
1  Jaguar XJL Portfolio V6 D Limousine  Diesel    67691        0  Miles   0.00
2             Vauxhall CORSA  CDTI Car  Diesel     9329     2849  Miles  50.04
3   Vauxhall Mokka 4x4 Utility Vehicle  Diesel    29064     5369  Miles  39.29
4                      Nissan Note Car  Diesel    42233     1052  Miles  56.17

## 3.1 Unwanted Columns:
1. Number:  because it has no affect on the fuel management it is just a index type
2. Registration: It could be useful for data management but not here

In [12]:
# Dropping the columns
df.drop(['Number', 'Registration'], axis = 1, inplace = True)
df.head()

                               Details Product Odometer Distance   Unit    MPG
0                                  NaN     NaN      NaN      NaN    NaN    NaN
1  Jaguar XJL Portfolio V6 D Limousine  Diesel    67691        0  Miles   0.00
2             Vauxhall CORSA  CDTI Car  Diesel     9329     2849  Miles  50.04
3   Vauxhall Mokka 4x4 Utility Vehicle  Diesel    29064     5369  Miles  39.29
4                      Nissan Note Car  Diesel    42233     1052  Miles  56.17